.navigation__checkbox {
    display: none
}

.navigation__button {
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 1rem;
    left: 1rem;
    border-radius: 50%;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer
}

.navigation__icon {
    position: relative;
    margin-top: 3.5rem;
    user-select: none;
}

.navigation__icon,
.navigation__icon::before,
.navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #333;
    display: inline-block
}

.navigation__icon::before,
.navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s
}

.navigation__icon::before {
    top: -.8rem
}

.navigation__icon::after {
    top: .8rem
}

.navigation__button:hover .navigation__icon::before {
    top: -1rem
}

.navigation__button:hover .navigation__icon::after {
    top: 1rem
}

.navigation__checkbox:checked+.navigation__button .navigation__icon {
    background-color: transparent
}

.navigation__checkbox:checked+.navigation__button .navigation__icon::before {
    top: 0;
    transform: rotate(135deg)
}

.navigation__checkbox:checked+.navigation__button .navigation__icon::after {
    top: 0;
    transform: rotate(-135deg)
}