@import url('https://fonts.googleapis.com/css?family=Muli:300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(-2%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes shrink {
  0% {
    width: 95%;
  }
  100% {
    width: 90%;
  }
}
html {
  font-family: 'Muli', sans-serif;
  font-size: 12px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html, body{
  width: 100%;
  height: 100%;
  margin: 0;
}
div {
 margin: 0px auto; max-width: 100%; padding: 0px;
}
p{
  line-height: 1.6;
}
.home-content{
  width: 100%;
  padding: 0;
  margin: 0 auto;
}
.hide-button {
  visibility: hidden;
  margin-right: 10px;
}
.slide0{
  height: 100vh;
  width: 100%;
  padding: 60px 0;
  display: table;
  background: #2ba1cf;
  background-image: url(../images/get-revolut-hero.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  }
.slide1{
  height: 100vh;
  width: 100%;
  background: #2ba1cf;
  padding: 60px 0;
  display: table;

}
.slide2 {
  padding: 60px 0;
 height: 100vh;
  width: 100%;
  display: table;
  background: #2ba1cf;
}
.slide3{
  padding: 60px 0;
  height: 100vh;
  width: 100%;
  display: table;
  background: #2ba1cf;
}
.slide4{
  padding: 60px 0;
  height: 100vh;
  width: 100%;
  display: table;
  background: #2ba1cf;
}
.slide1 p{
  width: 70%;
  color: #ffffff;
}
.slide2 p{
  width: 70%;
  color: #ffffff;
}
.slide3 p{
  width: 70%;
  color: #ffffff;
}
.slide3 ul li {
  margin-left: auto;
  font-size: 17px;
  width: 80%;
  font-family: 'Muli', sans-serif;
  color: #ffffff;
}
.slide4 p{
  width: 70%;
  color: #ffffff;
}
.slide1 ol{
  font-size: 17px;
  margin-left: auto; 
  width: 80%;
  color: #ffffff;
  font-family: 'Muli', sans-serif;

}
.slide3 ol{
  font-size: 17px;
  margin-left: auto; 
  width: 80%;
  color: #ffffff;

}
.logo-style{
  max-width: 200px;
  position: fixed; 
  top: 10px;
  left: 10px;
  width: 200px;
  overflow: hidden;
  z-index: 100;
}
.article-style1{
  margin-top: 18%;
}
.article-style p{
  margin: auto auto 30px;
  font-size: 19px;
  font-family: 'Muli', sans-serif; 
}
.menu {
  background: transparent;
  margin-bottom: 0;
  margin-right: 0px;
  font-family: 'Muli', sans-serif; 
  font-size: 13px;
  z-index: 100;
}
.menu a {
  bottom: 0; 
  padding: 10px;
  clear: right;
  text-decoration: none;
  color: #343434;
  transition:  0.3s ease;
  z-index: 99;
  line-height: 60px;
}
.main-h{
  padding-top: 40px; 
  font-weight: 700;
  margin-bottom: 40px;
  text-align: center;
  color: #343434;
}
.main-h1{
  padding-top: 70px; 
  font-weight: 700;
  margin-bottom: 50px;
  text-align: center;
  color: #fff;
  margin-top: 18%;

}
.first-button{
  margin: 0 auto;
  text-decoration: none;
  text-align: center;
  color: #dea470;
  padding: 20px;
  width: 120px;
  font-size: 15px;
  display: block;
  cursor: pointer;
  background-color: transparent;
   border: 1px solid #dea470;
   color: #dea470;
   transition: all 0.3s ease-in-out;
   }

.first-button:hover, .first-button a:hover{
  opacity: 0.8;
  text-decoration: none;
  transition:  0.4s ease;
  background-color: #dea470;
  color:#ffffff;

}
.content-box {
  background: #a5a5af;
  text-align: center;
  width: 100%;
  border: 1px solid #015249;
  border-radius: 6px;
  max-width: 450px;
  padding: 0 0 1em;
  height: 300px;
  margin: 0 auto 30px auto;
  display: block;
}
.content-box p{   
  margin: 10px;
  color: rgb(255, 255, 255);
  font-size: 15px;
  line-height: 1.3;
  font-size: 16px;
}
.content-box h4{   
  color: #015249;
  padding: 20px;
}
.content-box .image-box {
  width: 100%;
  position: relative;
  height: 150px;
  border-radius: 5px 5px 0 0 ;
  overflow: hidden;
}
.button {
  cursor: pointer;
  display: inline-flex;
  font-size: 15px;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  align-items: center;
  border-radius: 1;
  justify-content: center;
  text-decoration: none;
  -webkit-appearance: none;
  color: #ffffff;
  padding: 7px 15px;
  min-width: 60px;
  min-height: 1.5em;
  line-height: 1.4em;
  font-weight: 500;
  border-radius: .25em;
  text-transform: uppercase;
  background: #015249!important;
  box-shadow: none;
  border: .07em solid #ffffff;
}
.button:hover{
  color: #77c9d4;
}
.wrap{
  width: 50%;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
main{
  width:100%;
}

article {
  padding: 10px;
}
.side-a{
  text-decoration: none;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
    color: #2aa1d6;

}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1 {
  margin: 0.67em 0;
  color: 'DarkGray';

}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
code,
kbd,
pre,
samp {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-size: 1em;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}
optgroup {
  font-weight: 700;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type="reset"],
[type="submit"],
button,
html [type="button"] {
  -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
html {
  font: 112.5%/1.45em georgia, serif;
  box-sizing: border-box;
  overflow-y: scroll;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
body {
  color: hsla(0, 4%, 43%, 0.8);
  font-family: 'Montserrat', sans-serif;  
  font-size: 12px;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}
img {
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
h1 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: #2aa1d6;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 35px;
  line-height: 1.1;
}
h2 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  color: #2aa1d6;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 29px;
  line-height: 1.1;
}
h3 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: #2aa1d6;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 25px;
  line-height: 1.1;
}
h4 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 0.80rem;
  color: inherit;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.1;
}
h5 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.85028rem;
  line-height: 1.1;
}
h6 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.78405rem;
  line-height: 1.1;
}
hgroup {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
ul {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
ol {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
dl {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
dd {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
p {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  /* margin-bottom: 1.45rem; */

}
figure {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
pre {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 1.45rem;
  font-size: 0.85rem;
  line-height: 1.42;
  background: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  overflow: auto;
  word-wrap: normal;
  padding: 1.45rem;
}
table {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  font-size: 1rem;
  line-height: 1.45rem;
  border-collapse: collapse;
  width: 100%;
}
fieldset {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
blockquote {
  margin-left: 1.45rem;
  margin-right: 1.45rem;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
form {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
noscript {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
iframe {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
hr {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: calc(1.45rem - 1px);
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  height: 1px;
}
address {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
b {
  font-weight: bold;
}
strong {
  font-weight: bold;
}
dt {
  font-weight: bold;
}
th {
  font-weight: bold;
}
li {
  margin-bottom: calc(1.45rem / 2);
}
ol li {
  padding-left: 0;
}
ul li {
  padding-left: 0;
}
li > ol {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
li > ul {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
blockquote *:last-child {
  margin-bottom: 0;
}
li *:last-child {
  margin-bottom: 0;
}
p *:last-child {
  margin-bottom: 0;
}
li > p {
  margin-bottom: calc(1.45rem / 2);
}
code {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
kbd {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
samp {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
abbr {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
acronym {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
abbr[title] {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
  text-decoration: none;
}
thead {
  text-align: left;
}
td,
th {
  text-align: left;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.12);
  font-feature-settings: "tnum";
  -moz-font-feature-settings: "tnum";
  -ms-font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  padding-left: 0.96667rem;
  padding-right: 0.96667rem;
  padding-top: 0.725rem;
  padding-bottom: calc(0.725rem - 1px);
}
th:first-child,
td:first-child {
  padding-left: 0;
}
th:last-child,
td:last-child {
  padding-right: 0;
}
tt,
code {
  background-color: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}
pre code {
  background: none;
  line-height: 1.42;
}
code:before,
code:after,
tt:before,
tt:after {
  letter-spacing: -0.2em;
  content: " ";
}
pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
  content: "";
}
.mainMenu {
  font-size: '10px;';
}

.site-footer{
  background-color: #343434;
  min-width: 100%; 
  height: 40px;
  bottom: 0px;
  left: 0px;
  font-size: 15px;
  text-align: center;
  right: 0px;
}
.center-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .contP{
    margin-bottom: 60px;
  }
  a {
    color: #343434;
    text-decoration: none;
  }

  @media only screen and (max-width: 1024px) {
    html {
      font-size: 100%;
    }
      .logo-style img{
      width: 150px;
    }
    .site-footer ul li{
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
   }}
   @media only screen and (max-width: 470px) {
    html {
      font-size: 100%;
    }
    .site-footer{
    height:70px;
   }
  }
@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}
@media only screen and (max-width: 390px){
.button{
  margin: 5px auto 5px auto;
}
}
@media only screen and (max-width: 1450px){
  .hide-button {
    visibility: visible;
  }
  .logo-style img{
    width: 100px;
  }
 .main-h{
    margin-bottom: 50px;
  }
  label{
    display: block;
    cursor: pointer;
  }
  .nav{
    background-color: rgb(255, 255, 255);
    position: fixed;
    width:100%;
    z-index: 99;
  }

  .menu {
    text-align: center;
    width: 100%;
    display: none;
    margin-top:60px;
  }
  .menu a {
    display: block;
    padding: 10px;
    border-bottom: 1px solid #fff;
    margin:0;

  }
  #toggle:checked + .menu{
    display: block;
  }
  }
  @media only screen and (max-width: 650px){
    h1{
      font-size: 25px;
    }
    h2{
      font-size: 22px;
    }
    h3{
      font-size: 20px;
    }
    .article-style p{
      font-size: 16px;
      padding: 0px;
    }
    .first-button{
      padding: 10px;
      font-size: 13px;
      width: 80px;
    }
   .slide3 ul li{
      font-size: 16px;
      margin: auto auto;
    }
    .slide1 ol{
      font-size: 16px;
    }
}
  @media only screen and (max-width: 580px){
  .ecocontent{
      width:100%;
  }  
  .side-h{
    margin-top: 50px;
  }
    .sideBar{
    display: block;
    width: 100%;
    height: 300px;
    margin: 20px 0 100px 0;
    float: left;
  }
  .side-article{
    width: 100%;
    float: left;
  }
}